//Profile images
.profile-image-small {
  width:45px;
  height: 45px;
  border-radius:50%;
}
.profile-image-medium {
  width:64px;
  height: 64px;
  border-radius:50%;
}
//Vue transitions
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0
}


