<template>
    <div class="list-group-item">
        <div class="media">
            <div class="media-left">
                <img class="media-object profile-image-medium" :src="'/storage/'+conversation.counter_part_avatar_path">
            </div>
            <div class="media-body">
                <h4 class="media-heading">
                    <a :href="'/conversations/'+conversation.id">
                        Conversation with {{conversation.counter_part_name}}
                    </a>
                </h4>
                <p>{{messagePreview}}</p>
                <span class="text-muted">Sent: {{conversation.timestamp}}</span>
                <div>
                    <a :href="'/conversations/'+conversation.id">
                    reply
                    </a>
                    <a v-if="showArchiveLink" href="#" @click.prevent="archiveConversation">
                    archive
                    </a>
                    <a href="#" @click.prevent="deleteConversation">
                    delete
                    </a>
                </div>
            </div>
            </div>
    </div>
</template>
<script>
    import ConversationsAPI from '../../API/ConversationsAPI';

    export default {
        props:['conversation', 'user', 'canArchive'],
        data() {
            return {
                hasSentLastMessage: (this.user.id === this.conversation.last_message_sender_id),
                showArchiveLink: !!(this.canArchive),
            }
        },

        methods: {
            deleteConversation() {
                ConversationsAPI.delete(this.conversation.id, (response) => {
                    if (response.data === 'success')
                    {
                        this.$emit('deleted')
                    }
                });
            },

            archiveConversation() {
                ConversationsAPI.archive(this.conversation.id, (response) => {
                    if (response.data === 'success') {
                        this.$emit('archived');
                    }
                });
            },

        },

        created () {
            let sender;
            if (this.conversation.last_message_sender_id === this.user.id) {
                sender = 'You';
            }
            else {
                sender = this.conversation.counter_part_name;
            }
            let firstWords = this.conversation.last_message_body.split(' ', 6);
            let showDots = (firstWords.length === 6);

            this.messagePreview = `${sender} : ${firstWords.slice(0,5).join(' ')} ${(showDots)?'...':'.'}`;
        }
    }
</script>
<style scoped>
</style>
