<template>
    <div class="list-group">

        <transition-group v-if="conversations.length > 0" name="fade">
            <conversation-item
                    v-for="(conversation, index) in conversations"
                    :key="conversation.id"
                    :conversation="conversation"
                    :user="user"
                    :can-archive="canArchive"
                    @deleted="conversationDeleted(index)"
                    @archived="conversationArchived(index)">
            </conversation-item>
        </transition-group>
        <p v-else-if="page > 1">No more conversations to show.</p> <!--todo change to a more appropriate message-->
        <p v-else>Your {{(archived)? "archive": "inbox"}} is empty!</p>

        <nav v-if="hasNextPage || hasPrevPage">
            <ul class="pager">
                <li v-if="hasPrevPage">
                    <a :href="'?page='+(page-1)">Newer conversations</a>
                </li>
                <li v-if="hasNextPage">
                    <a :href="'?page='+(page+1)">Older conversations</a>
                </li>
            </ul>
        </nav>
    </div>
</template>
<script>
    import ConversationItem from './ConversationItem.vue';

    export default {
        props: ['conversationsProp', 'user', 'archived', 'page'],
        data() {
            return {
                //Must clone conversationsProp to be able to mutate conversations
                conversations: this.conversationsProp,
                canArchive: !this.archived,
                hasNextPage: this.conversationsProp.length === 25, //25 is the default per page count
                hasPrevPage: this.page > 1
            }
        },


        methods: {
            conversationDeleted(index) {
                this.conversations.splice(index, 1);
            },

            conversationArchived(index) {
                this.conversations.splice(index, 1);
            }
        },
        components: {
            ConversationItem,
        }
    }
</script>
