<template>
    <div class="media-list">
        <message-item v-for="message in messages"
                      :key="message.id"
                      :message="message"
                      :user="user"
                      :counter-part="counterPart">
        </message-item>
    </div>
</template>
<script>
    import MessageItem from './MessageItem.vue';

    export default {
        props: ['messages', 'user', 'counterPart'],

        components: {
            MessageItem,
        }
    }
</script>
<style scoped>
</style>
