<template>
    <div class="media">
        <div class="media-left">
            <img class="media-object profile-image-medium" :src="'/storage/'+sender.avatar_path">
        </div>
        <div class="media-body">
            <h4 class="media-heading">{{isSender? 'Du:' : sender.name}}</h4>
            <p>{{message.body}}</p>
            <div v-if="message.attachments.length > 0">
                <span>
                    <i class="fa fa-paperclip" aria-hidden="true"></i>
                    Attachments:
                </span>
                <ul>
                    <li v-for="attachment in message.attachments">
                        <a :href="'/attachments/'+attachment.id">
                            {{attachment.filename}}
                        </a>
                    </li>
                </ul>
            </div>
            <span class="text-muted">Sent: {{message.created_at}}</span>
        </div>
        <hr>
    </div>
</template>
<script>
    export default {
        props:['message','user', 'counterPart'],

        data() {
            return {
                isSender: null,
                sender:null,
            }
        },

        created() {
            this.isSender = (this.message.sender_id === this.user.id);
            this.sender = (this.isSender) ? this.user : this.counterPart;
        },
    }
</script>
