<template>
    <form @submit="validate" action="/messages" method="POST" enctype="multipart/form-data">
        <recipient-input
                v-if="showRecipientInput"
                @selected="setRecipient"
                @cleared="clearRecipient">
        </recipient-input>

        <div class="form-group">
            <label for="message-input">Message:</label>
            <textarea v-model="message" class="form-control" name="message" rows="5" id="message-input" placeholder="Message"></textarea>
        </div>

        <div class="form-group">
            <label>Attachments (You can select multiple files):</label>
            <input type="file" name="attachments[]"  multiple >
            <small class="form-text text-muted">Allowed attachments types: jpeg, jpg, png, doc, docx, md, txt.</small>
            <br>
            <small class="form-text text-muted">The maximum size of all attachments must not exceed 8 MB.</small>
            <br>
            <small class="form-text text-muted">The maximum size of one attachment must not exceed 2 MB.</small>
        </div>

        <input type="hidden" name="_token" :value="CSRF_token">

        <input type="hidden" name="recipient_id" :value="recipient">

        <input v-if="this.conversationId !== undefined" type="hidden" name="conversation_id" :value="conversationId">

        <div v-if="errorMessage !== null" class="text-danger">{{this.errorMessage}}</div>

        <button type="submit" class="btn btn-primary">Send</button>
    </form>
</template>

<script>
    import RecipientInput from './RecipientInput.vue';

    export default {
        props: ['conversationId','recipientId'],

        data () {
            return {
                recipient:(this.recipientId !== undefined) ? this.recipientId : null ,
                showRecipientInput: (this.recipientId === undefined) ,
                message:'',
                CSRF_token:'',
                errorMessage:null
            }
        },

        methods: {
            validate(event) {
                if (this.recipient === null) {
                    event.preventDefault();
                    this.errorMessage = "Please select a recipient.";
                }
                if (this.message.length === 0)  {
                    event.preventDefault();
                    this.errorMessage = "Please write a message.";
                }
            },

            setRecipient(id) {
                this.recipient = id;
            },

            clearRecipient() {
                this.recipient = null;
            }

        },

        mounted() {
            this.CSRF_token = window.CSRF_token;
        },

        components: {
            RecipientInput
        }

    }
</script>
