<template>
    <div style="position:relative">
        <div class="form-group">
            <label for="recipient-input">To:</label>
            <span class="display-4" v-if="selectedRecipient !== null">
                <img class="profile-image-small" :src="'/storage/'+selectedRecipient.avatar_path">
                {{selectedRecipient.name}}
                <a href="#" @click="clearRecipient" style="color:#ad0c00">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </a>
            </span>
            <input v-if="selectedRecipient === null"
                   v-model="recipientInput"
                   @keyup="getContactsSuggestions"
                   @blur="isTyping = false"
                   type="text" class="form-control" id="recipient-input"
                   placeholder="Recipient (Name or Email)"
                   autocomplete="off">
        </div>

        <transition name="fade">
            <div v-if="isTyping && suggestions.length > 0" class="list-group recipient-suggestions">
                <a v-for="(suggestion, index) in suggestions"
                   href="#"
                   @click.prevent="selectRecipient(index)"
                   class="list-group-item list-group-item-action">
                    {{suggestion.name}}
                </a>
            </div>
        </transition>
</div>
</template>

<script>
    import ContactsSearchAPI from '../../API/ContactsSearchAPI';

    export default {
        data () {
            return {
                selectedRecipient:null,
                recipientInput:'',
                isTyping:false,
                isWaiting:false,
                suggestions:[],
            }
        },

        methods: {
            getContactsSuggestions() {
                this.isTyping=true;

                if (this.recipientInput.length < 2) {
                    this.resetSuggestions();
                }
                //bouncing
                clearTimeout(this.bounceTimeout);
                this.bounceTimeout = setTimeout(() => {
                    if (this.recipientInput.length >= 2 && this.isTyping) {
                        this.getSuggestions();
                    }
                }, 700);
            },
            getSuggestions() {
                if (!this.isWaiting) {
                    this.isWaiting = true;
                    ContactsSearchAPI.getSuggestions(this.recipientInput, (res) => {
                        this.suggestions = res.data;
                        this.isWaiting = false;
                    })
                }
            },
            resetSuggestions() {
                this.suggestions = [];
            },

            selectRecipient(index) {
                this.selectedRecipient = this.suggestions[index];
                this.$emit('selected', this.selectedRecipient.id);
            },

            clearRecipient() {
                this.selectedRecipient = null
                this.recipientInput = "";
                this.$emit('cleared');
            }

        },
    }
</script>

<style scoped>
    .recipient-suggestions {
        position: absolute;
        top:65px;
        z-index: 1000;
        width:95%;
    }
</style>
